body,html{
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    font: 14px/28px arial;
}

.container-satu {
    width: 800px;
    background-color: #fff;
    margin: 50px auto;
    padding: 10px;
    display: flex;
}

.kolom-utama {
    flex: 3;
    order: 2;
}

.sidebar-satu {
    flex: 1;
    order: 1;
}

.sidebar-dua {
    flex:1;
    order: 3;
}

.container-dua {
    max-width: 800px;
    margin: 50px auto;
    padding: 10px;
    
}

.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
}

.layanan.satu {
    background-color: rgb(14, 115, 199);
}

.layanan.dua {
    background-color: rgb(177, 221, 18);
}

.layanan.tiga {
    background-color: rgb(238, 121, 12);
}

.container-tiga {
    max-width: 800px;
    margin: 50px auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    
}

img {
    width: 170px;
    height: 170px;
    margin: 5px;
}

.thumnail {
    width: 50%;
}

.thumnail img {
    width: 100%;
}

.container-empat  {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
  
}

.card {
    margin: 10px;
    background-color:#fff ;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
}


.card .header {
    height: 150px;
    background-color: rgb(6, 19, 56);
}

.card .konten {
    text-align: center;
    padding: 5px;
}

.card.besar {
    transform: scale(1.12);
}

/* responsive */
@media (min-width:600px){
    .container-dua{
        display: flex;
        justify-content: space-between;
    }

    .layanan {
        width: 30%;
    }

   .thumnail {
       width: 25%;
   }

   .card {
       width: 30%;
   }
}